<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dismoi.scout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <application
      android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      
        <service
            android:name="com.dismoi.scout.accessibility.BackgroundService"
            android:enabled="true"
            android:exported="false" 
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            >
            <intent-filter>
              <action
                android:name="android.accessibilityservice.AccessibilityService"
              />
            </intent-filter>
        <meta-data
          android:name="android.accessibilityservice"
          android:resource="@xml/accessibility_service_config"
        />
        </service>
        <service android:name="com.dismoi.scout.accessibility.BackgroundEventService">
        </service>
         <service
            android:name=".floating.FloatingService"
            android:enabled="true"
            android:exported="false"
          >

        </service>

         <receiver
            android:name="com.dismoi.scout.accessibility.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
